@model UKSAquator.ViewModels.HomeViewModel
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_SportsClubLayout.cshtml";
}

<main>
    <div class="news-page">


        @foreach (var news in Model.News)
        {
            <div class="news-details">
                <div class="img-space">
                    <img src="~/Content/Images/team/@news.CoverFileName" />
                </div>
                <div class="date-space">
                    <label>@news.PublicationDate</label>
                </div>
                <div class="title-space">
                    <label><b>@news.NewsTitle</b></label>
                </div>
                <div class="localization-space">
                    <label>@news.CityEvent, @news.CountryEvent</label>
                </div>
                <div class="description-space">
                    @Regex.Match(news.Description, ".{0,200}")...
                </div>
                <div class="see-more-button-space">
                    <a class="see-more-button" href="@Url.Action("Details", "News", new { id = news.NewsId })">Czytaj...</a>
                </div>
            </div>
        }


    </div>
</main>